<%- include("partials/header.ejs") %>
  <div class="container">
    <div class="card">
      <h1 class="header">It was nice meeting you! Take care.</h1>
      <h2 class="score final-Score">FINAL SCORE</h2>
      <h2 class="score">Evil Insults: <span class="red-Text"><%= insCounter %></span> &nbsp; 
        Compliments: <span class="green-Text"><%= compCounter %></span></h2>
      <a href="/"><button class="submit">RESTART</button></a>
      <br>
    </div>
  </div>
    
<%- include("partials/footer.ejs") %>